apps/ejb3/src/org/mlink/sitar/demo/sitar-taps.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sitar="http://www.mlink.org/sitar/taps" targetNamespace="http://www.mlink.org/sitar/taps" version="1.0">

    <xs:complexType name="measureType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="readinessType">
        <xs:sequence>
            <xs:element type="sitar:measuresType" name="availableForTasking" />
            <xs:element type="sitar:measuresType" name="certifications" />
            <xs:element type="sitar:measuresType" name="qualifications" />
            <xs:element type="sitar:measuresType" name="licences"       />
            <xs:element type="sitar:measuresType" name="qualifiedForTasking" />
            <xs:element type="sitar:measuresType" name="readyForTasking" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="measuresType">
        <xs:sequence>
            <xs:element type="xs:double" name="averageValue" nillable="false" minOccurs="0" maxOccurs="1" />
            <xs:element type="sitar:measureType" name="measures" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="unitType">
        <xs:sequence>
            <xs:element type="sitar:readinessType" name="readiness" />
            <xs:element type="sitar:unitType" name="subUnit" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>

    <xs:complexType name="sitarType">
        <xs:sequence>
	    <xs:element name="action" type="xs:string" />
            <xs:element name="units" type="sitar:unitType" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:long" name="generatedTimeMsecs" />
    </xs:complexType>
    <xs:element name="sitar" type="sitar:sitarType" />

</xs:schema>
