apps/ejb3/src/org/mlink/sitar/demo/sitar-taps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.taps-vss.com/dataagents" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.taps-vss.com/dataagents" xmlns:intf="http://www.taps-vss.com/dataagents" xmlns:tns1="http://www.mlink.org/sitar/taps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.mlink.org/sitar/taps" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://www.taps-vss.com/dataagents"/>
   <complexType name="measureType">
    <sequence/>
    <attribute name="type" type="xsd:string"/>
    <attribute name="value" type="xsd:double"/>

   </complexType>
   <complexType name="measuresType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="averageValue" type="xsd:double"/>
     <element maxOccurs="unbounded" name="measures" type="tns1:measureType"/>
    </sequence>
   </complexType>
   <complexType name="readinessType">
    <sequence>

     <element name="availableForTasking" type="tns1:measuresType"/>
     <element name="certifications" type="tns1:measuresType"/>
     <element name="qualifications" type="tns1:measuresType"/>
     <element name="licences" type="tns1:measuresType"/>
     <element name="qualifiedForTasking" type="tns1:measuresType"/>
     <element name="readyForTasking" type="tns1:measuresType"/>
    </sequence>
   </complexType>
   <complexType name="unitType">

    <sequence>
     <element name="readiness" type="tns1:readinessType"/>
     <element maxOccurs="unbounded" name="subUnit" type="tns1:unitType"/>
    </sequence>
    <attribute name="name" type="xsd:string"/>
    <attribute name="type" type="xsd:string"/>
   </complexType>
   <complexType name="sitarType">
    <sequence>

     <element name="action" type="xsd:string"/>
     <element maxOccurs="unbounded" name="units" type="tns1:unitType"/>
    </sequence>
    <attribute name="generatedTimeMsecs" type="xsd:long"/>
   </complexType>
   <element name="sitar" type="tns1:sitarType"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://www.taps-vss.com/dataagents" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://www.mlink.org/sitar/taps"/>

   <element name="dataAgentResponse">
    <complexType>
     <sequence>
      <element name="Result" type="xsd:int"/>
      <element name="Message" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>

 </wsdl:types>

   <wsdl:message name="publishDataRequest">

      <wsdl:part element="tns1:sitar" name="sitar"/>

   </wsdl:message>

   <wsdl:message name="publishDataResponse">

      <wsdl:part element="impl:dataAgentResponse" name="dataAgentResponse"/>

   </wsdl:message>

   <wsdl:portType name="SitarAgentPort">

      <wsdl:operation name="publishData" parameterOrder="sitar">

         <wsdl:input message="impl:publishDataRequest" name="publishDataRequest"/>

         <wsdl:output message="impl:publishDataResponse" name="publishDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SitarAgentSoapBinding" type="impl:SitarAgentPort">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="publishData">

         <wsdlsoap:operation soapAction="urn:#publishData"/>

         <wsdl:input name="publishDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="publishDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SitarAgentService">

      <wsdl:port binding="impl:SitarAgentSoapBinding" name="SitarAgent">

         <wsdlsoap:address location="http://www.taps-vss.com:8080/axis/services/SitarAgent"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
