apps/ejb3/ExtHandler.wsdl

<definitions name='ExtHandlerBeanService'
	targetNamespace='http://exthandler.session.iwm.mlink.org/' xmlns='http://schemas.xmlsoap.org/wsdl/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://exthandler.session.iwm.mlink.org/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema'>

	<types>
		<xs:schema targetNamespace='http://exthandler.session.iwm.mlink.org/'
			version='1.0' xmlns:tns='http://exthandler.session.iwm.mlink.org/'
			xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:element name='requestInfo' type='tns:requestInfo' />
			<xs:element name='requestInfoResponse' type='tns:requestInfoResponse' />
			<xs:complexType name='requestInfo'>
				<xs:sequence>
					<xs:element minOccurs='0' name='textToExtHandler' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='requestInfoResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='return' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	
	<message name='ExtHandler_requestInfo'>
		<part element='tns:requestInfo' name='requestInfo'></part>
	</message>

	<message name='ExtHandler_requestInfoResponse'>
		<part element='tns:requestInfoResponse' name='requestInfoResponse'></part>
	</message>

	<portType name='ExtHandler'>
		<operation name='requestInfo' parameterOrder='requestInfo'>
			<input message='tns:ExtHandler_requestInfo'></input>
			<output message='tns:ExtHandler_requestInfoResponse'></output>
		</operation>
	</portType>

	<binding name='ExtHandlerBinding' type='tns:ExtHandler'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='requestInfo'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>

			<output>
				<soap:body use='literal' />
			</output>
		</operation>
	</binding>

	<service name='ExtHandlerBeanService'>
		<port binding='tns:ExtHandlerBinding' name='ExtHandlerBeanPort'>
			<soap:address location='http://localhost:8080/IWMWS/ExtHandlerBean' />
		</port>
	</service>

</definitions>